{{ if and (not $.Site.Params.DisableReadOtherPosts) (or .NextInSection
.PrevInSection) }}
<div class="pagination">
  {{ if .Site.Params.ReadOtherPosts }}
  <div class="pagination__title">
    <span class="pagination__title-h">{{ .Site.Params.ReadOtherPosts }}</span>
    <hr />
  </div>
  {{ end }}
  <hr />
  <div class="pagination__buttons">
    {{ if .NextInSection }}
    <a href="{{ .NextInSection.Permalink }}" class="button next">
      <span class="button__icon">←</span>
      <span class="button__text">{{ .NextInSection.Title }}</span>
    </a>
    {{ end }} {{ if .PrevInSection }}
    <a href="{{ .PrevInSection.Permalink }}" class="button previous">
      <span class="button__text">{{ .PrevInSection.Title }}</span>
      <span class="button__icon">→</span>
    </a>
    {{ end }}
  </div>
  <hr />
</div>
{{ end }}
